<div class="container">
  <div class="row">
    <section class="col-md-3">
      <h5 class="text-warning ml-3">Sort</h5>
      <select class="custom-select mb-2">
        <option>Alphabetical</option>
        <option>From oldest to latest</option>
        <option>From latest to oldest</option>
      </select>

      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          *ngFor="let type of types"
          [class.active]="type.id === this.typeIdSelected"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>

    <section class="col-md-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <header class="col-sm-6 col-md-4">
          <span>Showing <strong>10</strong> of <strong>15</strong> Results</span>
        </header>
        <div class="form-inline mt-2">
          <input
            class="form-control mr-2"
            style="width: 250px;"
            placeholder="Search"
            type="text"
          />
          <button class="btn btn-outline-primary my-2">Search</button>
          <button class="btn btn-outline-success ml-2 my-2">Reset</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of meetings">
          <app-meeting-item [meeting]="item"></app-meeting-item>
        </div>
      </div>
    </section>
  </div>
</div>
